@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Dracula Theme */
    --background: 231 15% 18%;
    --foreground: 60 30% 96%;
    --card: 232 14% 31%;
    --card-foreground: 60 30% 96%;
    --popover: 232 14% 31%;
    --popover-foreground: 60 30% 96%;
    --primary: 326 100% 74%;
    --primary-foreground: 231 15% 18%;
    --secondary: 232 14% 31%;
    --secondary-foreground: 60 30% 96%;
    --muted: 232 14% 31%;
    --muted-foreground: 225 27% 51%;
    --accent: 191 97% 77%;
    --accent-foreground: 231 15% 18%;
    --destructive: 0 100% 67%;
    --destructive-foreground: 60 30% 96%;
    --border: 232 14% 31%;
    --input: 232 14% 31%;
    --ring: 265 89% 78%;
    --chart-1: 135 94% 65%;
    --chart-2: 191 97% 77%;
    --chart-3: 31 100% 71%;
    --chart-4: 265 89% 78%;
    --chart-5: 60 92% 77%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
